 /* Estilos CSS para la respuesta */
        /* Puedes personalizar los estilos según tus necesidades */
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: center; /* Centrar el contenido del cuerpo */
        }
        h1 {
            color: #333;
        }
        p {
            margin-bottom: 10px;
            text-align: center; /* Centrar los párrafos */
        }
        .examenes {
            color: red;
        }
        .logo {
            display: flex;
            justify-content: center; /* Centrar horizontalmente */
            margin-bottom: 20px;
        }
        .logo img {
            width: 200px;
            height: 200px;
        }
        .btn-volver {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }